#area_specific {
  padding-top: 100px;
  h3 {
    color: black;
    font-weight: 100;
    margin: 50px 0;
  }
}
.areas-icon {
  height: 200px;
}

#areas-banner {
  background: url(../images/areas.png);
  width: 100%;
  height: 200px;
  background-size: cover;
}

#pricing-modal-btn {
  margin-top: 70px;
  a {
    color: black;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

// modal styles
.pricing-modal {
  .modal-body {
    padding-bottom: 70px;
  }
  .modal-footer {
    background-color: #53affd;
  }
  #pricing-tab-btns {
    color: black;
    text-transform: uppercase;
    letter-spacing: 3px;
    a {
      color: black;
    }
    li {
      float: none;
      display: inline-block;
    }
  }
  h2.price {
    padding: 0;
    margin: 40px 0 15px 0;
    font-size: 60px;
    sup {
      font-size: 42%;
      top: -1.2em;
    }
    &.halfmargin {
      margin-top: 20px;
    }
  }
  .pricing-copy {
    color: #53affd;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
  }
  .tab-pane {
    padding: 30px 0;
    &#bundles {
      .col-md-3 {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
  .option {
    text-transform: uppercase;
    letter-spacing: 3px;
    border: 1px solid white;
    padding: 20px 0;
    margin: 0;

  }
  .pricing-tabs {
    margin: 0 auto;
  }
  .pricing-options{
    height: 350px;
    background-color: #292929;
    color: white;
    padding: 40px 30px 0 30px;
    .price-details.subscribe {
      margin-top: 25%;
    }
  }
}

.tooltip.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: #53affd;
  border-width: 5px 5px 0;
}
.tooltip-inner {
  color: #fff;
  background: #53affd;
  border: solid 1px #53affd;
}
