#how_it_works {
  padding-top: 150px;
  color: #383838;
  .steps-container {
    .circle-step {
      margin: 0 70px;
    }
  }
}

.steps-container {
  display: inline-block;
  padding: 70px 0;
  .circle-step {
    color: white;
    background-color: #53affd;
    height: 200px;
    width: 200px;
    border-radius: 300px;
    display: inline-block;
    padding: 30px;
    font-size: 100px;
  }
}
