$icon-font-path: '../fonts/';
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "howitworks.scss";
@import "features.scss";
@import "whyzyp.scss";
@import "where.scss";
@import "smallreq.scss";
@import "modals.scss";
@import "download.scss";
@import "cleaners.scss";
@import "areaspecific.scss";

// global styles

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  h3 {
    font-weight: 300;
  }
  h4 {
    font-weight: 300;
  }
}

.container {
  padding: 0;
  margin: 0;
}
.container-fluid {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  padding: 0 60px;
}

section {
  text-align: center;
  height: 100vh;
}

a  {
  color: white;
}

.nav-blue {
  background-color: #53affd;
}

.nav-white {
  background-color: white;
  .nav-container {
    background-color: white;
    color: #53affd;
    a {
      color: #53affd;
    }
  }
}

#nav-logo {
  height: 50px;
}
#nav-logo-blue {
  height: 50px;
  display: none;
}
.nav > li > a:hover, .nav > li > a:focus {
  background-color: white;
  color: #53affd;
}
.nav-blue > li > a:hover, .nav-blue > li > a:focus {
  background-color: #53affd;
  color: white;
}
#top {
  text-align: center;
  z-index: 999;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #53affd;
  position: relative;
  img {
    margin: 0 auto;
    display: block;
    padding-top: 150px;
    height: 65%;
  }
  #zipcode-overlay {
    background-color: white;
    color: #53affd;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 35%;
    text-align: center;
    padding: 40px;
    a {
      color: #53affd;
    }
    h3 {
      font-size: 24px;
      letter-spacing: 1px;
    }
    .alert-btn {
      letter-spacing: 2px;
      text-transform: uppercase;
    }
    #download-btn {
      margin-top: 10px;
    }
  }
}

input {
  height: 50px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  margin-top: 20px;
  text-align: center;
}
#zipcode-submit{
  display: none;
}

.alert-btn {
  height: 50px;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: #3cb878;
  font-weight: bold;
  font-size: 125%;
}
.alert-btn:hover {
  color: #53affd;
}

#down-btn {
  height: 50px;
  width: 50px;
  border: 4px solid #53affd;
  border-radius: 200px;
  margin: 10px auto;
  a {
    font-size: 30px;
    font-weight: bold;
  }
}

#promo {
  padding: 200px 0;
  #promo-inner{
    background-color: #52affd;
    color: white;
    padding: 100px 0;
    p {
    font-size: 30px;
    }
    h2 {
      font-size: 120px;
      letter-spacing: 5px;
    }
  }
}

.footer {
  background-color: #53affd;
  color: white;
  bottom: 0;
  height: 60px;
  text-align: center;
  .support-terms-btns {
    a {
      padding: 5px 10px;
      &:hover {
        text-decoration: none;
        color:white;
      }
    }
  }
}


// RESPONSIVE & MOBILE
@media only screen and (max-width: 991px) {
  section {
    height: 100%;
  }
  #cleaners {
    padding-bottom : 50px;
  }
   #where_are_we img {
    width: 100%;
    display: block;
  }
  .navbar-nav {
    li {
      a {
        font-size: 11px;
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
  section {
    height: 100%;
  }
  .nav-container {
   padding: 0 15px;
  }
  h2 {
    font-size: 24px;
    padding: 0;
  }
  h3 {
    font-size: 12px;
  }
  #top img {
    height: 50%;
  }
  #top #zipcode-overlay {
    padding: 10px;
    input {
      width: 45%;
      padding: 6px 9px;
      font-size: 12px;
    }
  }
  #promo #promo-inner p {
    font-size: 11px;
    padding: 0 60px;
  }
  #promo #promo-inner h2 {
    font-size: 24px;
  }
  .navbar-toggle .icon-bar {
    background-color: white;
  }
  .areas-icon {
    height: 160px;
    margin-top: 15px;
  }
  #area_specific h3 {
    margin: 25px 0 10px 0;
  }
  .pricing-modal .pricing-options {
    margin-bottom: 10px;
  }
  .pricing-modal .modal-body {
    padding-bottom: 0;
  }
  #area_specific {
    padding-top: 0;
  }
  .steps-container {
    padding: 30px 0;
  }
  #promo {
    padding: 50px 0 0 0;
  }
  #features {
    padding-top: 50px;
  }
  .swiper-container {
    height: 300px;
  }
  #cleaners {
    padding: 50px 0;
  }
  .steps-container .circle-step {
    height: 160px;
    width: 160px;
  }
  #cleaners p {
    font-size: 10px;
  }
  .cleaners-icon {
    vertical-align: baseline;
  }
  #glasses {
    width: 100px;
    height: auto;
    padding-bottom: 20px;
  }
  .cleaner-modal .line {
    width: 20%;
  }
  .cleaner-modal h1{
    font-size: 24px;
  }
  #why_zyp {
    padding: 25px 0;
  }
  #where_are_we h2 {
    padding: 50px 0;
  }
  #where_are_we img {
    width: 100%;
    display: block;
  }
  #small_req {
    padding: 50px 10px;
  }
  #small_req img {
    height: 100px;
  }
  #small_req .row {
    margin-top: 25px;
  }
  #small_req .row .restrict-width {
    max-width: 90%;
    margin-bottom: 20px;
  }
  #small_req img {
    margin-bottom: 10px;
    height: 75px;
  }
  .support-modal .modal-body {
    padding: 25px 10px;
  }
  .support-modal .modal-body .support-copy {
    font-size: 12px;
    margin: 0;
  }
  .support-modal .modal-body h1 {
    font-size: 24px;
  }
  #terms-text {
    font-size: 9px;
  }
}
