$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
@import "howitworks.scss";
@import "features.scss";
@import "whyzyp.scss";
@import "where.scss";
@import "smallreq.scss";
@import "modals.scss";
@import "download.scss";
@import "cleaners.scss";
@import "areaspecific.scss";

// global styles

body {
  font-family: 'Roboto', helvetica, sans-serif;
  font-weight: 100;
  h3 {
    font-weight: 300;
  }
  h4 {
    font-weight: 300;
  }
}

.container-fluid {
  padding: 0;
  margin: 0;
}

h2 {
  font-family: 'Open Sans', helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 50px;
  padding: 0 60px;
}

section {
  text-align: center;
  height: 100vh;
}

a  {
  color: white;
}

.nav-blue {
  background-color: #53affd;
}

.nav-white {
  background-color: white;
  .nav-container {
    background-color: white;
    color: #53affd;
    a {
      color: #53affd;
    }
  }
}

#nav-logo {
  height: 50px;
}

#top {
  text-align: center;
  z-index: 999;
  height: 100vh;
  width: 100%;
  color: white;
  background-color: #53affd;
  position: relative;
  img {
    margin: 0 auto;
    display: block;
    padding-top: 150px;
    height: 65%;
  }
  #zipcode-overlay {
    background-color: white;
    color: #53affd;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 35%;
    text-align: center;
    padding: 40px;
    a {
      color: #53affd;
    }
  }
}

input {
  height: 50px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  margin-top: 20px;
}
#zipcode-submit{
  display: none;
}

.alert-btn {
  height: 50px;
  padding: 12px;
  border-radius: 4px;
  color: white;
  background-color: #3cb878;
  font-weight: bold;
  font-size: 125%;
}

#down-btn {
  height: 50px;
  width: 50px;
  border: 4px solid #53affd;
  border-radius: 200px;
  margin: 10px auto;
  a {
    font-size: 30px;
    font-weight: bold;
  }
}

#promo {
  background-color: #52affd;
  color: white;
  padding: 300px;
}

.footer {
  background-color: #53affd;
  color: white;
  bottom: 0;
  height: 60px;
  text-align: center;
  //position: absolute;
}
