#where_are_we {
  padding: 0;
  background-image: url('../images/map02116.png');
  background-size: cover;
  #map {
    height: 500px;
    width: 80%;
    margin: 0 auto;
  }
  h2 {
    background-color: #53affd;
    color: white;
    padding: 90px 0 50px 0;
    margin: 0;
  }
}
